@{
    ViewBag.Title = "Home Page";
}

@model HolidayApp.Models.WorkerModel

<div class="row">
    <div class="col-md-8 col-lg-offset-4">
        <h2>Dodaj pracownika:</h2>
        <br />
        <span>Imię:</span> @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })<br />
        <span>Nazwisko:</span>@Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })<br />
        <span>Dział:</span>@Html.TextBoxFor(x => x.Department, new { @class = "form-control" })<br />
        <span>Dni urlopu:</span> @Html.TextBoxFor(x => x.HolidaysLeft, new { @class = "form-control" })<br />
        <p><a class="btn btn-light" onclick='SaveWorker()'>Dodaj</a></p><br /><br /><br />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-lg-offset-3">
        <h2>Lista pracowników:</h2><br />
        <table id="myTable" class="table-striped">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Dział</th>
                <th>Dni urlopu</th>
            </tr>
        </table>
    </div>
</div>







<style>
    #myTable tr th {
        color: white;
        width: 300px;
        height: 40px;
        text-decoration: solid;
        background-color: crimson;
        padding: 10px;
    }
</style>

<script>

    function SaveWorker() {

        var name = $("#Name").val();
        var surname = $("#Surname").val();
        var department = $("#Department").val();
        var holidaysLeft = $("#HolidaysLeft").val();


        $.ajax({
            type: "POST",
            url: "/Home/AddWorker",
            data: JSON.stringify({ Name: name, Surname: surname, Department: department, HolidaysLeft: holidaysLeft }),
            contentType: "application/json",

            success: function (result) {
                $("#myTable").append("<tr><td>" +
                    result.Name + "</td><td>" +
                    result.Surname + "</td><td>" +
                    result.Department + "</td><td>" +
                    result.HolidaysLeft + "</td></tr>");

                $("#Name").val("");
                $("#Surname").val("");
                $("#Department").val("");
                $("#HolidaysLeft").val("");

            }
        })
    }

</script>