
<h1> Aplikacja urlopowa firmy ACME </h1>

<p> Za pomocą tej aplikacji bardzo łatwo wypełnisz wniosek urlopowy a Twoi przełożeni w wygodny sposób zdecydują czy go zaakceptować.</p>
<p> Zaloguj się lub zgłoś przełożonemu brak aktywnego konta.</p>
